.calculadora {
    width: 31.25em;
    height: 40.625em;
    background-color: blueviolet;
    border-radius: 5px;
    overflow: hidden;
    

    display: grid; 
  grid-template-columns: 1fr 1.2fr 0.8fr; 
  grid-template-rows: 0.5fr 0.5fr 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "input input input"
    "AC AC operadores"
    "numeros numeros operadores"; 
}

.contenedor-input {
    background-color: honeydew;

    display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."; 
  grid-area: input; 
    
}

.contenedor-input input {
    
}

.contenedor-boton-borrar {
    display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."; 
  grid-area: AC;
}

.contenedor-numeros {
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    "cero cero ."; 
  grid-area: numeros; 
    
}

.boton-cero {
    grid-area: cero;
    width: 100%;
}




.contenedor-operadores {
    display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."; 
  grid-area: operadores; 
}